body {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mailbox-list {
    padding: 14px 24px;
    text-align: center;
}

.mailbox-list .row {
    text-align: justify;
    margin: 0 auto;
    width: 30em;
}

.mailbox-list .row .btn {
    margin:5px;
}